<nav class="navbar">

  <!-- Left -->
  <div class="logo">
    Placement Portal
  </div>

  <!-- Center -->
  <ul class="nav-links">

    <li>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Dashboard
      </a>
    </li>

    <li>
      <a
        routerLink="/jobs"
        routerLinkActive="active"
      >
        Jobs
      </a>
    </li>

    <li>
      <a
        routerLink="/applications"
        routerLinkActive="active"
        *ngIf="role === 'STUDENT' || role === 'ADMIN'"
      >
        Applications
      </a>
    </li>

    <li>
      <a
        routerLink="/admin"
        routerLinkActive="active"
        *ngIf="role === 'ADMIN'"
      >
        Admin
      </a>
    </li>

    <li>
      <a
        routerLink="/recruiter/applicants"
        routerLinkActive="active"
        *ngIf="role === 'RECRUITER' || role === 'ADMIN'"
      >
        Applicants
      </a>
    </li>

    <!-- NEW -->

    <li>
      <a
        routerLink="/login"
        routerLinkActive="active"
        *ngIf="!isLoggedIn"
      >
        Login
      </a>
    </li>

    <li>
      <a
        routerLink="/register"
        routerLinkActive="active"
        *ngIf="!isLoggedIn"
      >
        Register
      </a>
    </li>

  </ul>

  <!-- Right -->
  <div class="right-section">

    <app-notification-bell *ngIf="isLoggedIn"></app-notification-bell>

    <img
      [src]="user.profileImage"
      alt="profile"
      class="profile-img"
    >

    <button
      class="logout-btn"
      (click)="logout()"
      *ngIf="isLoggedIn"
    >
      Logout
    </button>

  </div>

</nav>
