<nav class="navbar">

  <!-- Left -->
  <div class="logo">
    Placement Portal
  </div>

  <!-- Center -->
  <ul class="nav-links">

    <li>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Dashboard
      </a>
    </li>

    <li>
      <a
        routerLink="/jobs"
        routerLinkActive="active"
      >
        Jobs
      </a>
    </li>

    <li>
      <a
        routerLink="/applications"
        routerLinkActive="active"
      >
        Applications
      </a>
    </li>

    <li>
      <a
        routerLink="/admin"
        routerLinkActive="active"
      >
        Admin
      </a>
    </li>

    <!-- NEW -->

    <li>
      <a
        routerLink="/login"
        routerLinkActive="active"
      >
        Login
      </a>
    </li>

    <li>
      <a
        routerLink="/register"
        routerLinkActive="active"
      >
        Register
      </a>
    </li>

  </ul>

  <!-- Right -->
  <div class="right-section">

    <span class="icon">
      🔔
    </span>

    <img
      [src]="user.profileImage"
      alt="profile"
      class="profile-img"
    >

    <button
      class="logout-btn"
      (click)="logout()"
    >
      Logout
    </button>

  </div>

</nav>