<div class="dashboard-container">

  <div class="welcome-card">
    <h2>{{ role }} Dashboard</h2>
    <p>Track placements, applications, and opportunities</p>
  </div>

  <div class="stats-container" *ngIf="stats">
    <div class="stat-card" *ngIf="role === 'STUDENT'">
      <h3>{{ stats.totalApplied }}</h3>
      <p>Total Applied</p>
    </div>

    <div class="stat-card" *ngIf="role === 'STUDENT'">
      <h3>{{ stats.shortlisted }}</h3>
      <p>Shortlisted</p>
    </div>

    <div class="stat-card" *ngIf="role === 'STUDENT'">
      <h3>{{ stats.pending }}</h3>
      <p>Pending</p>
    </div>

    <div class="stat-card" *ngIf="role === 'STUDENT'">
      <h3>{{ stats.offered }}</h3>
      <p>Offered</p>
    </div>

    <div class="stat-card" *ngIf="role === 'RECRUITER'">
      <h3>{{ stats.activeJobs }}</h3>
      <p>Active Jobs</p>
    </div>

    <div class="stat-card" *ngIf="role === 'RECRUITER'">
      <h3>{{ stats.totalApplicants }}</h3>
      <p>Total Applicants</p>
    </div>

    <div class="stat-card" *ngIf="role === 'RECRUITER'">
      <h3>{{ stats.pendingReviews }}</h3>
      <p>Pending Reviews</p>
    </div>

    <div class="stat-card" *ngIf="role === 'ADMIN'">
      <h3>{{ stats.totalStudents }}</h3>
      <p>Students</p>
    </div>

    <div class="stat-card" *ngIf="role === 'ADMIN'">
      <h3>{{ stats.totalRecruiters }}</h3>
      <p>Recruiters</p>
    </div>

    <div class="stat-card" *ngIf="role === 'ADMIN'">
      <h3>{{ stats.totalJobs }}</h3>
      <p>Total Jobs</p>
    </div>

    <div class="stat-card" *ngIf="role === 'ADMIN'">
      <h3>{{ stats.placementRate }}%</h3>
      <p>Placement Rate</p>
    </div>
  </div>

</div>

  <h2>Recent Jobs</h2>

  <div
    class="job-card"
    *ngFor="let job of recentJobs"
  >

    <h3>{{ job.title }}</h3>

    <p>{{ job.companyName }}</p>

    <p>{{ job.location }}</p>

  </div>
