<div class="dashboard-container">

  <!-- Welcome Section -->
  <div class="welcome-card">
    <h2>Welcome, Nikita 👋</h2>
    <p>Track your applications and explore new opportunities</p>
  </div>

  <!-- Stats Section -->
  <!-- <div class="stats-container">
    <div class="stat-card">
      <h3>12</h3>
      <p>Applied Jobs</p>
    </div>

    <div class="stat-card">
      <h3>5</h3>
      <p>Shortlisted</p>
    </div>

    <div class="stat-card">
      <h3>3</h3>
      <p>Interviews</p>
    </div>

    <div class="stat-card">
      <h3>8</h3>
      <p>Saved Jobs</p>
    </div>
  </div> -->

  <!-- Main Section -->
  <!-- <div class="main-section"> -->

    <!-- Recommended Jobs -->
    <!-- <div class="card">
      <h3>Recommended Jobs</h3>

      <div class="job-item">
        <h4>Backend Developer</h4>
        <p>Amazon • Bangalore</p>
        <button>View</button>
      </div>

      <div class="job-item">
        <h4>Java Developer</h4>
        <p>Infosys • Pune</p>
        <button>View</button>
      </div>

      <div class="job-item">
        <h4>Full Stack Developer</h4>
        <p>TCS • Hyderabad</p>
        <button>View</button>
      </div>
    </div> -->

    <!-- Recent Activity -->
    <!-- <div class="card">
      <h3>Recent Activity</h3>

      <ul class="activity-list">
        <li>Applied to Backend Developer at Amazon</li>
        <li>Shortlisted for Java Developer at Infosys</li>
        <li>Interview scheduled with TCS</li>
      </ul>
    </div>

  </div>

</div> -->

<!-- dashboard.html -->

<div class="dashboard-container">

  <h2>Recent Jobs</h2>

  <div
    class="job-card"
    *ngFor="let job of recentJobs"
  >

    <h3>{{ job.title }}</h3>

    <p>{{ job.companyName }}</p>

    <p>{{ job.location }}</p>

  </div>

</div>